# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform Variable Files
*.auto.tfvars
terraform.tfvars

# Lambda Packages
*.zip

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.python-version

# Virtual Environments
venv/
.venv/
env/

# IDE
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log

# Generated Website Config
website/config.js